<div data-o-component="o-business-card" data-o-version="0.1.2" class="o-business-card" itemscope itemtype="http://schema.org/Person">
    <img src="{{image}}" class="o-business-card__image--right" itemprop="image" />
    <p>
        <a href="{{url}}" class="o-business-card__name" itemprop="url"><span itemprop="name">{{name}}</span></a>
        {{#bio}}
        <span class="o-business-card__bio" itemprop="description">{{bio}}</span>
        {{/bio}}
    </p>
    {{#email}}
    <p>
        <a href="mailto:{{email}}" class="o-business-card__email" itemprop="email">{{email}}</a>
    </p>
    {{/email}}
    {{#twitter}}
    <p>
        <a href="https://twitter.com/{{twitter}}" class="o-business-card__twitter" itemprop="sameAs">@{{twitter}}</a>
    </p>
    {{/twitter}}
    {{#age}}
    <p class="o-business-card__age">
        <span class="o-business-card__subtitle">Age: </span>{{age}}
    </p>
    {{/age}}
    {{#nationality}}
    <p class="o-business-card__nationality">
        <span class="o-business-card__subtitle">Nationality: </span>
        <span itemprop="nationality"> {{nationality}}</span>
    </p>
    {{/nationality}}
    {{#background}}
    <p class="o-business-card__background">
        <span class="o-business-card__subtitle">Background: </span>
        <span itemprop="description">{{background}}</span>
    </p>
    {{/background}}
</div>