////
/// @group o-business-card
/// @link http://registry.origami.ft.com/components/o-business-card
////

/// Style element like a business card
@mixin oBusinessCard {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	border-bottom: 1px solid oColorsGetColorFor(o-business-card, border);
	background-color: oColorsGetColorFor(o-business-card box page, background);
	margin-top: 10px;
	margin-bottom: 20px;
	display: block;
	overflow: hidden;

	a {
		text-decoration: none;
		color: oColorsGetColorFor(link, text);

		&:focus,
		&:hover {
			color: oColorsGetColorFor(link-hover, text);
		}
	}

	p {
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
	}

	[itemprop="description"] {
		white-space: normal;
	}
}

/// For names on business cards
@mixin oBusinessCardName {
	font-size: 14px;
}

/// Style up images on business cards
@mixin oBusinessCardImage {
	width: 60px;
	height: 60px;
}

/// Right-aligned business card image
@mixin oBusinessCardImageRight {
	@include oBusinessCardImage;
	float: right;
	margin-right: 10px;
	margin-left: 5px;
}

/// Left-aligned business-card image
@mixin oBusinessCardImageLeft {
	@include oBusinessCardImage;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}

/// Use this for business card subtitles
@mixin oBusinessCardSubtitle {
	font-weight: bold;
}
