@import 'o-fonts/main';
@import 'o-colors/main';

@include oFontsInclude(BentonSans, Normal);
@include oFontsInclude(BentonSans, Bold);

.o-business-card {
	font-family: oFontsGetFontFamilyWithFallbacks(BentonSans);
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	border-bottom: 1px solid oColorsGetColorFor(heading-medium, border);
	background-color: oColorsGetColorFor(panel-body box page, background);
	margin: 0;
	padding-top: 20px;
	display: block;
	overflow: hidden;

	a {
		text-decoration: none;
		color: oColorsGetColorFor(link, text);

		&:hover {
			color: oColorsGetColorFor(link-hover, text);
		}
	}

	p {
		margin: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		display: block;
	}

	[itemprop="description"] {
		white-space: normal;
	}
}

.o-business-card__name {
	font-size: 14px;
}

%_o-business-card__image {
	width: 60px;
	height: 60px;
}

.o-business-card__image--right {
	@extend %_o-business-card__image;
	float: right;
	margin-right: 10px;
	margin-left: 5px;
}

.o-business-card__image--left {
	@extend %_o-business-card__image;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}

.o-business-card__subtitle {
	font-weight: bold;
}